<div class="smallCenterForm col-xl-4 col-lg-6 col-md-8 col-sm-12">
  <h2>Sign In</h2>
  <span class="form-text sub-title">Hello! Sign in with your username or email</span>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" >
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Email"
        id="email"
        [ngClass]="{'form-control-danger': form.get('email').touched && form.get('email').errors}"
      >
      <wtp-form-input-error *ngIf="form.get('email').touched" [errors]="form.get('email').errors"></wtp-form-input-error>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="password"
        id="password"
        [ngClass]="{'form-control-danger': form.get('password').touched && form.get('password').errors}"
      >
      <wtp-form-input-error *ngIf="form.get('password').touched" [errors]="form.get('password').errors"></wtp-form-input-error>
    </div>
    <div class="form-group text-center">
      <button
        [disabled]="form.invalid"
        class="btn btn-success"
      >Login</button>
    </div>
  </form>
</div>
