<div class="row">
  <div class="col-md-12">
    <nb-card *ngIf="!isLoaded">
      <nb-card-body>
        <wtp-preloader></wtp-preloader>
      </nb-card-body>
    </nb-card>
    <div *ngIf="isLoaded">
      <wtp-firm-confirm-common [firmData]="firmData" [data]="data"></wtp-firm-confirm-common>
      <wtp-firm-confirm-about [firmData]="firmData" [data]="data"></wtp-firm-confirm-about>
      <wtp-firm-confirm-services [firmData]="firmData" [data]="data"></wtp-firm-confirm-services>
      <wtp-firm-confirm-pages [firmData]="firmData" [data]="data"></wtp-firm-confirm-pages>
    </div>
  </div>
</div>
