<div class="modal-header">
  <span>Удаление</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  Вы действительно хотите удалить "{{itemTitle}}"?
</div>
<div class="modal-footer text-center">
  <button
    type="button"
    class="btn btn-sm btn-default"
    (click)="closeModal()">Отменить</button>
  <button
    class="btn btn-sm btn-hero-danger"
    (click)="deleteAction()"
  >Удалить
  </button>
</div>

