<div class="modal-header">
  <span>Добавление страницы компании</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <div class="modal-body">
    {{ modalContent }}
    <hr>
    <wtp-list-recommendations
      [errors]="errors"
      [recomm]="recomm"
      [showButton]="false"
    ></wtp-list-recommendations>
    <wtp-preloader *ngIf="!isLoaded"></wtp-preloader>
    <div *ngIf="isLoaded">
      <div class="form-group">
        <label for="name" class="form-control-label">Тип страницы</label>
        <select
          name=""
          formControlName="name"
          id="name"
          class="form-control"
          (change)="selectType($event)"
          [ngClass]="{'form-control-danger': form.get('name').touched && form.get('name').errors}"
        >
          <option *ngFor="let s of listFirmPages" [value]="s.name">{{s.name}}</option>
          <option value="-1">Другая страница</option>
        </select>
        <wtp-form-input-error *ngIf="form.get('name').touched"
                              [errors]="form.get('name').errors"></wtp-form-input-error>
      </div>
      <div class="form-group" *ngIf="form.value['name'] === '-1'">
        <label for="other" class="form-control-label">Другая страница</label>
        <input
          id="other"
          type="text"
          class="form-control"
          formControlName="other"
          [ngClass]="{'form-control-danger': form.get('other').touched && form.get('other').errors}"
        >
        <wtp-form-input-error *ngIf="form.get('other').touched"
                              [errors]="form.get('other').errors"></wtp-form-input-error>
      </div>
      <div class="form-group">
        <label>Описание</label>
        <wtp-ckeditor
          [(model)]="description"
          (change)="onChangeDescription($event)"
        ></wtp-ckeditor>
        <wtp-form-input-error *ngIf="form.get('description').touched"
                              [errors]="form.get('description').errors"></wtp-form-input-error>
      </div>
      <div class="form-group">
        <label>Галлерея</label>
        <img-upload
          [max]="10"
          [url]="uploadUrl"
          [uploadedFiles]="images"
          (uploadFinished)="onUploadFinished($event)"
        >
        </img-upload>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-hero-primary" (click)="closeModal()">Отменить</button>
    <button

      class="btn btn-sm btn-hero-success"
      [disabled]="form.invalid"
      [ladda]="isLoading"
    >{{!pageId ? 'Добавить' : 'Сохранить'}}
    </button>
  </div>
</form>
