<div class="smallCenterForm col-xl-4 col-lg-6 col-md-8 col-sm-12">

  <h2>Это ваш аккаунт?</h2>
  <br>
  <div class="user-avatar"><img *ngIf="userAvatar" [src]="userAvatar"/></div>
  <h3>{{userName}}</h3>
  <b>{{userEmail}}</b>
  <br/>
  <br/>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Введите ваш пароль для подтверждения"
        id="password"
        [ngClass]="{'form-control-danger': form.get('password').touched && form.get('password').errors}"
      >
      <wtp-form-input-error *ngIf="form.get('password').touched"
                            [errors]="form.get('password').errors"></wtp-form-input-error>
    </div>
    <div class="form-group text-center">
      <button
        type="button"
        (click)="changeAccount()"
        class="btn btn-hero-primary"
      >
        Не мой аккаунт
      </button>
      <button
        [disabled]="form.invalid"
        [ladda]="isLoading"
        class="btn btn-hero-success"
      >
        Подтвердить
      </button>
    </div>
  </form>

</div>
