<nb-card>
  <nb-card-header>
    <div class="editLink">
      <a (click)="helperService.goUrl('/system/firms/'+firmData.id+'/services')"><i class="nb-compose"></i>Редактировать</a>
    </div>
    Услуги компании
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!firmData.services">
      <div class="text-center">Вы еще не добавили не одной услуги для Вашей компании</div>
    </div>
    <table *ngIf="firmData.services" class="table table-striped">
      <tr *ngFor="let item of firmData.services" class="ST-course">
        <td width="180">
          <wtp-img-gallery [list]="item.images"></wtp-img-gallery>
        </td>
        <td width="50">{{item.id}}</td>
        <td><h3 class="color-green">{{item.name}}</h3>
          <p>{{item.description}}</p>
        </td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
