<div class="pagination-container text-center">
  <div class="btn-group btn-toggle-group btn-outline-toggle-group" data-toggle="buttons"
       [(ngModel)]="page" ngbRadioGroup>
    <label *ngFor="let p of listPage; let i = index;" ngbButtonLabel class="btn btn-outline-success">
      <input ngbButton type="radio" (click)="onClick(i+1)" [value]="i+1"> {{i+1}}
    </label>
  </div>
</div>
