.accordion-items {
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 22px;
  &.accordion-items-small {
    padding: 0;
    border: 0;
  }
}

.accordion-items-errors {
  border: 1px solid #ff6780;
  h3 {
    color: #ff6780;
  }
}

.accordion-items-info {
  border: 1px solid #67b3ff;
  h3 {
    color: #67b3ff;
  }
}
