<div *ngIf="errors.length" class="accordion-items accordion-items-errors" [ngClass]="{'accordion-items-small': small}">
  <h3 *ngIf="!small">{{titleError}}</h3>
  <div class="accordion-list">
    <ngb-accordion #acc="ngbAccordion" [activeIds]="activePanel">
      <ngb-panel *ngFor="let item of errors; let num = index;" [id]="'error-'+(num+1)" class="panel-error">
        <ng-template ngbPanelTitle>
          <span class="ai-title" [innerHtml]="item.title"></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div [innerHtml]="item.description"></div>
          <div *ngIf="showButton && item.showButton" class="pull-right">
            <br>
            <button class="btn btn-hero-success" [routerLink]="item.fixedLink">Исправить <i
              class="ion-chevron-right"></i></button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
<div *ngIf="recomm.length" class="accordion-items accordion-items-info" [ngClass]="{'accordion-items-small': small}">
  <h3 *ngIf="!small">{{titleRecomm}}</h3>
  <div class="accordion-list">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel *ngFor="let item of recomm" class="panel-error">
        <ng-template ngbPanelTitle>
          <span class="ai-title">{{item.title}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div [innerHtml]="item.description"></div>
          <div *ngIf="showButton" class="pull-right">
            <br>
            <button class="btn btn-hero-success" [routerLink]="item.fixedLink">Исправить <i
              class="ion-chevron-right"></i></button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
