<wtp-preloader *ngIf="isLoading"></wtp-preloader>
<div [sortablejs]="uploadedFiles" [sortablejsOptions]="options" class="imgUpload" *ngIf="uploadedFiles.length">
  <div
    class="imgUploadItem"
    *ngFor="let i of uploadedFiles; let num = index;"
    [ngStyle]="{'background-image': 'url(' + helperService.getImage(i, 'big')+')'}">
    <span class="IURemoveButton btn btn-hero-danger" (click)="onImageRemove(i.id)">x</span>
    <div class="IU-preview"><a (click)="preview(num)">
      <i class="fa fa-eye"></i>
      Просмотреть
    </a></div>
    <div *ngIf="uploadedFiles.length > 1 && !i.main" class="IU-make-main"><a (click)="makeMain(i.id)">
      <i class="fa fa-check-circle"></i>
      Сделать основной</a></div>
    <div *ngIf="uploadedFiles.length > 1 && i.main" class="IU-is-main"><a (click)="makeMain(i.id)">
      <i class="fa fa-check-circle"></i>
      Основная</a></div>
  </div>
</div>
<image-upload
  [max]="max"
  [url]="url"
  [preview]="false"
  [maxFileSize]="1048576"
  [extensions]="['jpeg','jpg','png']"
  [headers]="{Authorization: tokenKey}"
  [buttonCaption]="'Выберите файл'"
  [dropBoxMessage]="'Перенесите нужный файл сюда'"
  [clearButtonCaption]="'Очистить'"
  (uploadFinished)="onUploadFinished($event)"
  (uploadStateChanged)="uploadStateChanged($event)"
  (removed)="onRemoved($event)"
>
</image-upload>
<br>
<p class="alert alert-danger"><strong>Внимание!!!</strong> Файл должен быть типа JPG или PNG. Размер файла не должен превышать 8mb.</p>
