.imgUpload {
  margin-bottom: 20px;
}

.imgUploadItem {
  display: inline-block;
  width: 179px;
  height: 179px;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.6);
  margin: 5px;
  vertical-align: top;
  cursor: move;
}

.IURemoveButton {
  position: absolute;
  cursor: pointer;
  margin-left: 135px;
  margin-top: -6px;
  padding: 5px 14px;
}

.IU-make-main, .IU-is-main, .IU-preview {
  cursor: pointer;
  background: rgba(56, 56, 56, 0.5);
  color: #fff;
  margin-top: 0;
  text-align: center;
  padding: 10px 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  visibility: hidden;
}

.IU-is-main {
  background: rgba(61, 204, 109, 0.47);
  color: #fff;
  visibility: visible;
  cursor: default;
}

.IU-preview {
  background: rgba(56, 56, 56, 0.5);
  margin-top: 100px;
  border-radius: 0;
}

.imgUploadItem:hover .IU-is-main {
  background: rgba(61, 204, 109, 0.8);
}

.imgUploadItem:hover .IU-make-main, .imgUploadItem:hover .IU-preview  {
  visibility: visible;
}

.IU-make-main:hover, .IU-preview:hover {
  color: #3dcc6d;
  background: rgba(56, 56, 56, 0.8);
}
