<nb-card>
  <nb-card-header>
    <div class="editLink">
      <a (click)="helperService.goUrl('/system/firms/'+firmData.id+'/about')"><i class="nb-compose"></i>Редактировать</a>
    </div>
    О компании
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!firmData.description && !image">
      <div class="text-center">Вы еще не указали описани о компании</div>
    </div>
    <div *ngIf="firmData.description || image">
      <div class="clearfix">
        <div *ngIf="image" class="imageAbout" [ngStyle]="{'background-image': 'url('+image + ')' }">
        </div>
        <div [innerHtml]="firmData.description"></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
