<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <wtp-preloader *ngIf="!isLoaded"></wtp-preloader>
        <p>Тут будет какой-то вступительный текст о том как это будед проиходить и что это даст.</p>
        <wtp-list-recommendations
          *ngIf="isLoaded"
          [settings]="settings"
          [errors]="errors"
          [recomm]="recommendations"
        ></wtp-list-recommendations>
        <br>
        <div class="text-center">
          <button
            type="button"
            [ladda]="isLoading"
            class="btn btn-hero-success"
            (click)="publication()"
          >
            <i class="ion ion-checkmark"></i>
            <span>Опубликовать фирму</span>
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
