<nb-card>
  <nb-card-body>
    --{{data.test}}--
    <wtp-preloader *ngIf="!isLoaded"></wtp-preloader>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <p>Тут будет какой-то вводный текст</p>
      <hr>
      <wtp-list-recommendations
        [errors]="errors"
        [recomm]="recommendations"
      ></wtp-list-recommendations>
      <div class="form-group">
        <label for="name">Название фирмы</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Название фирмы"
          id="name"
          [ngClass]="{'form-control-danger': form.get('name').touched && form.get('name').errors}"
        >
        <wtp-form-input-error *ngIf="form.get('name').touched"
                              [errors]="form.get('name').errors"></wtp-form-input-error>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="country_id">Страна</label>
            <select
              formControlName="country_id"
              class="form-control"
              id="country_id"
              (change)="changeCountry()"
              [ngClass]="{'form-control-danger': form.get('country_id').touched && form.get('country_id').errors}"
            >
              <option value="" selected data-default>Выберети Страну</option>
              <option *ngFor="let c of listCountry" [value]="c.id">{{c.name}}</option>
            </select>
            <wtp-form-input-error *ngIf="form.get('country_id').touched"
                                  [errors]="form.get('country_id').errors"></wtp-form-input-error>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="city_id">Город</label>
            <select
              formControlName="city_id"
              class="form-control"
              id="city_id"
              [ngClass]="{'form-control-danger': form.get('city_id').touched && form.get('city_id').errors}"
            >
              <option value="" selected data-default>Выберети город</option>
              <option *ngFor="let c of listCity" [value]="c.id">{{c.name}}</option>
            </select>
            <wtp-form-input-error *ngIf="form.get('city_id').touched"
                                  [errors]="form.get('city_id').errors"></wtp-form-input-error>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="Укажите контактный Email"
              id="email"
              [ngClass]="{'form-control-danger': form.get('email').touched && form.get('email').errors}"
            >
            <wtp-form-input-error *ngIf="form.get('email').touched"
                                  [errors]="form.get('email').errors"></wtp-form-input-error>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="phone">Контактны телефон</label>
            <input
              formControlName="phone"
              type="text"
              class="form-control"
              placeholder="Укажите контактный телефон"
              id="phone"
              [ngClass]="{'form-control-danger': form.get('phone').touched && form.get('phone').errors}"
            >
            <wtp-form-input-error *ngIf="form.get('phone').touched"
                                  [errors]="form.get('phone').errors"></wtp-form-input-error>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button
          *ngIf="!data.readOnly"
          [disabled]="form.invalid"
          [ladda]="isLoading"
          class="btn btn-hero-success"
        >Далее
        </button>
        <button
          *ngIf="data.readOnly"
          type="button"
          [ladda]="isLoading"
          (click)="changePublicStatus.emit()"
          class="btn btn-hero-success"
        >Редактировать
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
