<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <p>Тут будет какой-то вводный текст</p>
          <hr>
          <wtp-list-recommendations
            [errors]="errors"
            [recomm]="recommendations"
            [showButton]="false"
          ></wtp-list-recommendations>
          <div class="form-group">
            <label>Лого</label>
            <img-upload
              [max]="1"
              [url]="uploadUrl"
              [uploadedFiles]="logo"
              (uploadFinished)="onUploadFinished($event)"
              (onDelete)="imageDelete($event)"
              >
            </img-upload>
          </div>
          <div class="form-group">
            <label>Описание</label>
            <wtp-ckeditor
              [(model)]="description"
              (change)="onChangeDescription($event)"
            ></wtp-ckeditor>
            <wtp-form-input-error *ngIf="form.get('description').touched"
                                  [errors]="form.get('description').errors"></wtp-form-input-error>
          </div>
          <div class="form-group text-center">
            <button
              type="button"
              class="btn btn-hero-primary"
              (click)="back()"
            >
              <i class="ion nb-angle-double-left"></i>
              <span>Назад</span>
            </button>            <button
              [disabled]="form.invalid"
              [ladda]="isLoading"
              class="btn btn-hero-success"
            >
            <i class="ion ion-checkmark"></i>
            <span>Сохранить</span>
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
