<nb-card>
  <nb-card-header>
    <div class="editLink">
      <a (click)="helperService.goUrl('/system/firms/'+firmData.id+'/common')"><i class="nb-compose"></i>Редактировать</a>
    </div>
    Подтверждение информация
  </nb-card-header>
  <nb-card-body>

    <div class="form-group">
      <label class="text-muted font-size-12">Название фирмы:</label>
      <h3>{{firmData.name}}</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="text-muted font-size-12">Страна:</label>
          <div>{{firmData.country.name}}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="text-muted font-size-12">Город:</label>
          <div>{{firmData.city.name}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="text-muted font-size-12">Контактный Email:</label>
          <div>{{firmData.email}}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="text-muted font-size-12">Контактный телефон:</label>
          <div>{{firmData.phone}}</div>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>
