<div class="modal-header">
  <span>Добавление страницы компании</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="modal-body">
    {{ modalContent }}
  </div>
  <div class="modal-footer">
    <button
      type="button"
      *ngIf="buttonNo"
      class="btn btn-sm btn-hero-primary"
      (click)="closeModal()"
    >{{buttonNo}}</button>
    <button
      *ngIf="buttonYes"
      class="btn btn-sm btn-hero-success"
      (click)="colvedModal()"
    >{{buttonYes}}
    </button>
  </div>

