<wtp-breadcrumb></wtp-breadcrumb>
<nb-card>
  <nb-card-header>Мои тур. фирмы</nb-card-header>
  <nb-card-body>
    <p>Тут будет текст предисловая, говорящий о пользе добавленных услуг для компании</p>
    <hr>
    <wtp-smart-table
      [settings]="settings"
      [sortable]="true"
      sourceUrl="firms"
      (editAction)="onEdit($event)">
    </wtp-smart-table>
    <div class="text-center">
      <button type="button" class="btn btn-hero-success btn-with-icon" (click)="create()">
        <i class="ion-plus-round"></i>
        Добавить фирму
      </button>
    </div>
  </nb-card-body>
</nb-card>
