<wtp-preloader *ngIf="!isLoaded"></wtp-preloader>
<div *ngIf="isLoaded">
  <wtp-pagination
    [count]="countAll"
    [page]="page"
    *ngIf="countAll > limit"
    (onSelect)="onChangePage($event)"
  ></wtp-pagination>
  <table class="table table-hover STable">
    <thead>
    <tr *ngIf="source.length" class="ST-header">
      <th *ngIf="settings.gallery" [width]="180">Картинки</th>
      <th *ngFor="let col of settings.columns">{{col.title}}</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody [sortablejs]="source" [sortablejsOptions]="options">
    <tr
      *ngFor="let item of source"
      class="ST-course"
      id="sortable"
      [ngClass]="{cursorMove: sortable}"
    >
      <td *ngIf="settings.gallery">
        <wtp-img-gallery [list]="item[settings.gallery]"></wtp-img-gallery>
      </td>
      <td *ngFor="let col of settings.columns"
          [attr.width]="col.width"
          [innerHTML]="!col.template ? item[col.field] : col.template(item)">
      </td>
      <td class="ST-actions">
        <button class="btn btn-hero-info">
          <i
            class="ion-edit"
            (click)="editAction.emit(item.id)"
          ></i>
        </button>
        <button class="btn btn-hero-danger">
          <i
            class="ion-trash-a"
            (click)="deleteHandler(item)"
          ></i>
        </button>
      </td>
    </tr>
    </tbody>
    <tr>
      <td *ngIf="!source.length" class="text-center" [attr.colspan]="listColumn">{{settings.noDataMessage}}</td>
    </tr>
  </table>
  <wtp-pagination
    [count]="countAll"
    [page]="page"
    *ngIf="countAll > limit"
    (onSelect)="onChangePage($event)"
  ></wtp-pagination>
</div>
