.STable thead tr {
  background-image: linear-gradient(to right, #f9fbfd, #e6ebef);
}

.ST-actions {
  padding: 20px 12px 0 0;
  width: 150px;
  text-align: center;
}

.ST-actions .btn {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
}

.ST-course {
  cursor: pointer;
}

.STable td
{
  word-break: break-all;
}
