@import '../../../@theme/styles/themes';

@include nb-install-component() {

  .team-photo {
    /*background-image: url('../../assets/images/team.png');*/
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);

    flex: 1;
    max-height: 50%;

    .team-link {
      position: absolute;
      height: 4rem;
      width: 4rem;
      bottom: -2rem;
      right: 1rem;
      border-radius: 50%;
      box-shadow: 0 4px 10px 0 rgba(nb-theme(layout-bg), 0.4), 0 0 12px 0 rgba(nb-theme(color-fg-highlight), 0.2);
    }
  }

  .team-info {
    padding: 1.5rem 1.5rem 0;

    .team-title {
      color: nb-theme(color-fg-heading);
      font-family: nb-theme(font-secondary);

      h2 {
        margin: 0;
      }
    }

    .team-subtitle {
      margin-bottom: 1rem;
      color: nb-theme(color-fg);
      font-weight: nb-theme(font-weight-light);
    }

    .team-bio {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      i {
        font-size: 1.75rem;
      }
    }
  }
}
