.STImages {
  height: 110px;
  margin-left: 30px;
}

.STIItem {
  width: 100px;
  height: 100px;
  background-size: cover;
  box-shadow: 2px 0 4px 1px rgba(100,100,100, 0.6);
  position: absolute;
}

.STImages .STIItem:nth-child(1) {
  z-index: 1000;
}

.STImages .STIItem:nth-child(2) {
  z-index: 900;
  margin: 5px 0 0 10px;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
  animation: img-gallery-rotate1-2 0.3s ease-out 0s forwards
}

.STImages .STIItem:nth-child(3) {
  z-index: 800;
  margin: 5px 0 0 -10px;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
  animation: img-gallery-rotate2-2 0.3s ease-out 0s forwards
}

.ST-course:hover .STIItem{
  box-shadow: 2px 0 4px 1px rgba(100,100,100, 0.8);
}

.ST-course:hover .STImages .STIItem:nth-child(2) {
  animation: img-gallery-rotate1 0.3s ease-out 0s forwards
}

.ST-course:hover .STImages .STIItem:nth-child(3) {
  animation: img-gallery-rotate2 0.3s ease-out 0s forwards
}
