<nb-card>
  <nb-card-body>
    <wtp-preloader *ngIf="!isLoaded"></wtp-preloader>
    <p>Тут будет текст предисловая, говорящий о пользе добавленных услуг для компании</p>
    <wtp-list-recommendations
      [errors]="errors"
      [recomm]="recommendations"
      [showButton]="false"
    ></wtp-list-recommendations>
    <wtp-smart-table
      *ngIf="isLoaded"
      [settings]="settings"
      [sortable]="true"
      [sourceUrl]="'firm-user-services/'+firmData.id"
      (editAction)="onEdit($event)"
      (deleteConfirm)="onDeleteConfirm($event)">
    </wtp-smart-table>
    <div class="text-center">
      <button type="button" class="btn btn-hero-success btn-with-icon" (click)="createService()">
        <i class="ion-plus-round"></i>
        Добавить услугу
      </button>
    </div>
  </nb-card-body>
</nb-card>
