.smallCenterForm {
  margin: 0 auto;
  text-align: center;
}

.smallCenterForm .form-group {
  text-align: left;
}

.smallCenterForm .sub-title {
  margin-bottom: 32px;
}

.has-error .form-control {
  border: 1px solid #ff0000;
}

.user-avatar img {
  width: 100px;
}

.nb-theme-default nb-card-body {
  min-height: 200px;
}

select option[data-default] {
  color: #888
}

wtp-preloader {
  min-height: 200px;
}

.nb-theme-default .modal-header {
  background-image: linear-gradient(to right, #40dcb2, #40dc7e);
  box-shadow: 0 1px 5px 0 #454e4a;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 20px;
}

.table-hover tbody tr:hover {
  background-color: rgba(64, 220, 126, 0.20);
}

ul[ngui-sortable] {
  padding: 10px;
  border: 1px solid #ccc;
  list-style: none;
  display: block
}

ul[ngui-sortable] li {
  padding: 10px 5px;
  background: #4986e7;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  position: relative
}

ul[ngui-sortable] li.drag-enter {
  border-top: 2px solid yellow;
}

.cursorMove {
  cursor: move !important;
}

.ST-course:hover .STIItem {
  box-shadow: 2px 0 4px 1px rgba(100, 100, 100, 0.8);
}

.ST-course:hover .STImages .STIItem:nth-child(2) {
  animation: img-gallery-rotate1 0.3s ease-out 0s forwards !important;
}

.ST-course:hover .STImages .STIItem:nth-child(3) {
  animation: img-gallery-rotate2 0.3s ease-out 0s forwards !important;
}

@keyframes img-gallery-rotate1 {
  0% {
    margin: 5px 0 0 10px;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    margin: 5px 0 0 30px;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}

@keyframes img-gallery-rotate1-2 {
  0% {
    margin: 5px 0 0 30px;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    margin: 5px 0 0 10px;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@keyframes img-gallery-rotate2 {
  0% {
    margin: 5px 0 0 -10px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    margin: 5px 0 0 -30px;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
}

@keyframes img-gallery-rotate2-2 {
  0% {
    margin: 5px 0 0 -30px;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  100% {
    margin: 5px 0 0 -10px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

.color-green {
  color: #3dcc6d !important;
}

.color-danger {
  color: #ff6780 !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.editLink {
  float: right;
  font-size: 14px;
  color: #3dcc6d;
  font-weight: normal;
  cursor: pointer;
}

.editLink a {
  vertical-align: top;
}

.editLink i:before {
  content: '\E91E';
  font-size: 21px;
  margin-top: -3px;
  display: inline-block;
}

.STable .alert-hint {
  background: rgba(235, 239, 245, 0.37);
  font-size: 14px;
}

.card .card-header {
  padding: 0 !important;
}

.card .card-header a, .card .card-header a span {
  display: inline-block;
  width: 100%;
}

.card .card-header a span {
  padding: 12px 20px;
  font-weight: bold;
}

.card .card-header a span:after {
  content: "\F125";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  float: right;
}

.card .card-header.active a span:after {
  content: "\F123";
}

.accordion-items-errors .card .card-header a span.ai-title {
  background-color: #ff6780 !important;
  color: #fff;
}

.accordion-items-errors .card .card-header a span.ai-title:hover {
  background-color: #dc3545 !important;
}

.accordion-items-info .card .card-header a span.ai-title {
  background-color: #67b3ff !important;
  color: #fff;
}

.accordion-items-info .card .card-header a span.ai-title:hover {
  background-color: #64a3ec !important;
  color: #fff;
}

.subMenu {
  list-style: none;
  font-family: Exo;
  font-size: 1.125rem;
  padding: 0 1.25rem;
  border-bottom: 1px solid #ebeef2;
  margin-bottom: 0;
  display: flex;
}

.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  background-color: #ffffff57;
}

.nb-theme-default .alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb !important;
}

.nb-theme-default ol, .nb-theme-default ul {
  padding-left: 0;
  margin-left: -1px;
}

.nb-theme-default nb-card {
  border-top-left-radius: 0 !important;
}

.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed {
  z-index: 9999;
}
