<ol id="breadcrumb">
  <li><a routerLink="/">
    <i class="ion-home"></i>
    <span class="sr-only">Главная</span>
  </a></li>
  <li
    *ngFor="let breadcrumb of breadcrumbs; let i = index;"
    [ngClass]="{current: i === breadcrumbs.length-1 }"
  >
    <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
  </li>
</ol>
