<nb-card>
  <nb-card-body class="secondMenuBlock">
    <ul class="subMenu">
      <li *ngFor="let item of items" [ngClass]="{activeSubMenu: '/'+item.url === url, invisibleMenu: item.invisible}">
        <a (click)="item.url ? goUrl(item.url, item.invisible) : clickHandler(item.slug)">{{item.title}}</a>
      </li>
    </ul>
  </nb-card-body>
</nb-card>
