.secondMenuBlock {
  min-height: auto !important;
  padding: 0;
}

.subMenu {
  list-style: none;
  font-family: Exo;
  font-size: 1.125rem;
  padding: 0 1.25rem;
  border-bottom: 1px solid #ebeef2;
  margin-bottom: 0;
  display: flex;

  li {
    text-align: center;
  }

  li a {
    color: #a4abb3;
    cursor: pointer;
    font-family: Exo;
    font-size: 18px;
    padding: 1.25rem;

    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    position: relative;
  }
  li a:before {
    display: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 6px;
    border-radius: 3px;
    bottom: 0;
    left: 0;
  }
}

.subMenu li:hover a, .subMenu .activeSubMenu a {
  color: #2a2a2a;
  &:before {
    display: block;
    background: #40dc7e;
  }
}

.subMenu li.invisibleMenu:hover a{
  cursor: no-drop;
  color: #a4abb3;
  &:before {
    background: transparent;
  }
}
