<wtp-breadcrumb></wtp-breadcrumb>
<wtp-list-recommendations
  *ngIf="isLoaded && (firmData.status === 2 || firmData.status === 3 )"
  [errors]="errorsMessages"
  [recomm]="recommMessage"
  [showButton]="false"
  [small]="true"
></wtp-list-recommendations>

<div class="row">
  <div class="col-md-12">
    <wtp-preloader *ngIf="!isLoaded || !isOverLoaded"></wtp-preloader>
    <button (click)="test()">test</button>
    <ngb-tabset
      #t="ngbTabset"
      *ngIf="isLoaded"
      [activeId]="activeTab"
      class="secondMenuBlock">
      <ngb-tab title="Общая информация" id="common">
        <ng-template ngbTabContent>
          <wtp-firm-common [firmData]="firmData" [data]="data" (changePublicStatus)="modalChangeStatus()" (cb)="outData($event)"></wtp-firm-common>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="О комапнии" id="about">
        <ng-template ngbTabContent>
          <wtp-firm-about [firmData]="firmData"></wtp-firm-about>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Услуги" id="service">
        <ng-template ngbTabContent>
          <wtp-firm-service [firmData]="firmData"></wtp-firm-service>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Страницы" id="pages">
        <ng-template ngbTabContent>
          <wtp-firm-pages [firmData]="firmData"></wtp-firm-pages>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Подтверждение" id="confirm">
        <ng-template ngbTabContent>
          <wtp-firm-confirm [firmData]="firmData" [data]="data"></wtp-firm-confirm>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Публикация" id="publication">
        <ng-template ngbTabContent>
          <wtp-firm-publication [firmData]="firmData" [data]="data" (cb)="outData($event)"></wtp-firm-publication>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
